@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Crows</h1>
    <h2 class="display-3"> Chesterfield Realms of War Gaming </h2>
    <p>
        Chesterfield Realms of War is a gaming club that has been running since 2013 to enable hobbyists of all stripes another venue to meet new people and continue engaging in their tabletop hobbies. Located in the Monkey Park Community Interest Centre the club runs tabletop wargames and board games aplenty.

        The club is a not for profit organisation where the funds earned will be invested back into the club for more scenery, tables, games and events.
    </p>
    <p>
        Chesterfield Realms of War-gaming (CROWS) is a group of like minded people who enjoy playing board games, card games and miniature/skirmish wargames.

        We regularly play a range of games such as Zombiecide, Lords of Waterdeep, Dark Souls and Battlestar Galactica to name a few. We also have the facility to provide full gaming tables for games such as Warhammer and Wild West Exodus.

        All our games are owned either by the club or its members.

        The club meets every Wednesday 7:30pm - 10:30pm, costing £3.50 for non-members/£3 for members.

        You can find us at Monkey Park, 128A Chester Street, Brampton, Chesterfield, S40 1DN.
    </p>
</div>
