@using CrowsWebsite.Models.ViewModels
@inject IJsonHelper Json

@model CrowsWebsite.Models.ViewModels.GameChooseViewModel

@{
    string data = Json.Serialize(Model).ToString();
}

<link rel="stylesheet" href="~/lib/jqueryUI/css/jquery-ui.min.css"/>

@section scripts{
<script src="~/lib/jqueryUI/js/jquery-ui.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.5.0.js"></script>
    <script src="~/lib/knockoutMapping.js"></script>
    <script src="https://kit.fontawesome.com/a7864e965e.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/GameSelectionViewModel.js"></script>
    <script type="text/javascript">
     

       var GameSelectionViewModel  = new GameSelectionViewModel(@Html.Raw(data));

       

    ko.applyBindings(GameSelectionViewModel)
    </script>
}

<div class="container-fluid">

    
    <h2 >Please tell us what games you own and would like to play</h2>

    <div>
        <h4>Games Owned</h4>
        <input id="gameOwnedSearch" placeholder="Enter game" />

        <table class="table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Min Players</th>
                    <th>Max Players</th>
                    <th>Min Play Time (mins)</th>
                    <th>Max Play Time (mins)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: member.ownedGames">
                <tr>
                    <td></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="numeric: min_players"></td>
                    <td data-bind="numeric: max_players"></td>
                    <td data-bind="numeric: min_playtime"></td>
                    <td data-bind="numeric: max_playtime"></td>
                    @*<td><button id="ownedGameDeleteBtn" data-bind="attr={'data-gameId': Id}"></button></td>*@
                </tr>

            </tbody>
            

        </table>

    </div>

</div>
 <input type="hidden" id="gameOwnedSearchUrl" value='@Url.Action("GetSuggestedGames", "MemberRegister")' />